In [1]:
import pandas as pd
import pathlib
import numpy as np

# Cargue data

In [2]:
#Gesti√≥n y cargue de data

CURRENT_DIR = pathlib.Path("..").resolve() #Lee la ruta actual del proyecto
DATA_DIR = CURRENT_DIR.joinpath("Proyecto_Estadistica","Data") #Establece la ruta de la data

file_base = list(DATA_DIR.glob("*.csv")) #Ruta del archivo enviado por Meli

In [3]:
file_base[0]

WindowsPath('D:/Maestria/Proyecto_Estadistica/Data/wowbgs.csv')

In [4]:
count_list = []
df_out = pd.DataFrame()

for file in file_base:

    file_ = str(file_base[0]).split("\\")[-1]
    file_ = file_.replace(".csv","")
    
    aux_df = pd.read_csv(file)
    aux_df['File'] = file_

    df_out = pd.concat([df_out.reset_index(drop=True),aux_df.reset_index(drop=True)], axis=0)

    aux = pd.read_csv(file).shape
    count_list.append(aux)
    
    print("Base " + str(file),"cantidad de registros y columnas",str(aux))

Base D:\Maestria\Proyecto_Estadistica\Data\wowbgs.csv cantidad de registros y columnas (3726, 14)
Base D:\Maestria\Proyecto_Estadistica\Data\wowbgs2.csv cantidad de registros y columnas (5383, 14)
Base D:\Maestria\Proyecto_Estadistica\Data\wowgil.csv cantidad de registros y columnas (657, 15)
Base D:\Maestria\Proyecto_Estadistica\Data\wowgil2.csv cantidad de registros y columnas (817, 15)
Base D:\Maestria\Proyecto_Estadistica\Data\wowsm.csv cantidad de registros y columnas (536, 14)
Base D:\Maestria\Proyecto_Estadistica\Data\wowsm2.csv cantidad de registros y columnas (734, 14)
Base D:\Maestria\Proyecto_Estadistica\Data\wowtk.csv cantidad de registros y columnas (494, 15)
Base D:\Maestria\Proyecto_Estadistica\Data\wowtk2.csv cantidad de registros y columnas (789, 15)
Base D:\Maestria\Proyecto_Estadistica\Data\wowwg.csv cantidad de registros y columnas (687, 15)
Base D:\Maestria\Proyecto_Estadistica\Data\wowwg2.csv cantidad de registros y columnas (827, 15)

In [5]:
file_

'wowbgs'

In [6]:
df_out.columns

Index(['Battleground', 'Code', 'Faction', 'Class', 'KB', 'D', 'HK', 'DD', 'HD',
       'Honor', 'Win', 'Lose', 'Rol', 'BE', 'File', 'BA', 'BD', 'CC', 'OP',
       'VP', 'FC', 'FR'],
      dtype='object')

In [7]:
df_modelado = df_out[['Code', 'Faction', 'Class', 'KB', 'D', 'HK', 'DD', 'HD','Honor','Rol', 'Win']].copy() #Se dejan solo las variables acordadas

In [8]:
df_modelado['Win'] = df_modelado['Win'].fillna(0) #Se remplazan los nulos en las variables objetivo

In [9]:
df_modelado.Win.value_counts() #Se realiza el conteo de las clases presentes en la variable objetivo

1.0    7424
0.0    7226
Name: Win, dtype: int64

In [10]:
df_modelado.duplicated().sum()

9265

In [11]:
df_modelado = df_modelado.drop_duplicates() #Se eliminan los registros duplicados

In [12]:
print("La cantidad total de registros final es de:",str(df_modelado.shape[0] - df_modelado.duplicated().sum()))

La cantidad total de registros final es de: 5385

In [13]:
df_modelado.describe()

,KB,D,HK,DD,HD,Honor,Win
count,5385.000000,5385.000000,5385.000000,5385.000000,5385.000000,5385.000000,5385.000000
mean,3.038254,3.051068,26.713278,43872.354132,28300.983101,413.173445,0.505664
std,3.189359,2.201283,16.101238,34839.580236,39359.261473,214.192705,0.500014
min,0.000000,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000
25%,1.000000,1.000000,14.000000,16834.000000,6528.000000,238.000000,0.000000
50%,2.000000,3.000000,25.000000,37001.000000,13253.000000,374.000000,1.000000
75%,5.000000,5.000000,37.000000,62559.000000,29288.000000,537.000000,1.000000
max,33.000000,13.000000,95.000000,246000.000000,325000.000000,1229.000000,1.000000

In [14]:
df_modelado.describe(include = ['object'])

        Code Faction   Class   Rol
count   5385    5385    5385  5385
unique   249       2      12     2
top      SA1   Horde  Shaman   dps
freq      30    2704     589  4320

In [15]:
#Ajuste indice y creaci√≥n key

df_modelado = df_modelado.reset_index()
df_modelado = df_modelado.rename(columns = {'index':'key'})

In [16]:
df_modelado

,key,Code,Faction,Class,KB,D,HK,DD,HD,Honor,Rol,Win
0,0,WG1,Horde,Hunter,1,3,14,48155,6641,532,dps,1.0
1,1,WG1,Horde,Death Knight,1,3,12,27025,7106,377,dps,1.0
2,2,WG1,Alliance,Paladin,0,1,19,824,93879,252,heal,0.0
3,3,WG1,Alliance,Paladin,1,2,25,7046,98599,274,heal,0.0
4,4,WG1,Alliance,Rogue,2,3,23,65483,19629,268,dps,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5380,9106,TK40,Alliance,Demon Hunter,2,4,9,39954,9699,282,dps,0.0
5381,9107,TK40,Alliance,Paladin,4,6,9,54729,20736,282,dps,0.0
5382,9108,TK40,Alliance,Rogue,0,5,10,11495,20355,283,dps,0.0
5383,9143,BG2,Alliance,Paladin,33,6,9,31140,8288,187,dps,0.0
5384,10692,SM6,Alliance,Shaman,2,3,33,10932,106000,1009,heal,0.0

In [17]:
df_modelado.to_csv("",index = False)

,key,Code,Faction,Class,KB,D,HK,DD,HD,Honor,Rol,Win
0,0,WG1,Horde,Hunter,1,3,14,48155,6641,532,dps,1.0
1,1,WG1,Horde,Death Knight,1,3,12,27025,7106,377,dps,1.0
2,2,WG1,Alliance,Paladin,0,1,19,824,93879,252,heal,0.0
3,3,WG1,Alliance,Paladin,1,2,25,7046,98599,274,heal,0.0
4,4,WG1,Alliance,Rogue,2,3,23,65483,19629,268,dps,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5380,9106,TK40,Alliance,Demon Hunter,2,4,9,39954,9699,282,dps,0.0
5381,9107,TK40,Alliance,Paladin,4,6,9,54729,20736,282,dps,0.0
5382,9108,TK40,Alliance,Rogue,0,5,10,11495,20355,283,dps,0.0
5383,9143,BG2,Alliance,Paladin,33,6,9,31140,8288,187,dps,0.0
5384,10692,SM6,Alliance,Shaman,2,3,33,10932,106000,1009,heal,0.0